---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<!--   <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stupidmonkey/css/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  {% seo %}
</head>
<body style="background-color: rgb(255, 255, 255)">
 <script async src="{{site.baseurl}}/js/theme.min.js"></script>
  <header>
     
  </header>

    <main>
    <article>
    {{ content }}
    </article>
    </main>

<footer>
	<div class="links">
        <a href="https://twitter.com/MonkeyReminder" target="blank"><b>Want a daily reminder? Go to Twitter.</b></a>
    </div>
       <p class="copy"><small>Copyrights by {{site.title}} </small></p>
</footer>
{% include analytics.html %}
</body>
</html>
